.markdown p {
  margin: 15px 0;
  line-height: 1.8;
}

.markdown a {
  font-weight: bold;
  color: rgb(0, 140, 255);
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown h2 {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 10px;
}

.markdown h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.markdown h4 {
  font-weight: bold;
}

.markdown img {
  width: 100%;
  border-radius: 10px;
}

.markdown ul,
.markdown ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.markdown pre {
  border-radius: 10px;
  overflow: auto;
  background: #a3a3a342;
  padding: 20px;
  margin: 20px 0;
  line-height: normal;
}
